This is file is the CSS styling for the Saved.html 
* This is the original background colors that was added.
* As each different view is change, the color will change.
* The first Wide 2685px view will change to the background color aqua.
* The second wide view 2560px will change to the background color cadetblue.
* The third view 1440px, will change to the background color brown.
* The fourth view 1024px, will change to the background color rgb 139,89,89.
* The fifth view 768px, will change to the background color rgb(41, 118, 165).
* The sixth view 425px, will change to the background color rgb(165, 41, 128).


View 1
@media screen and (max-width: 2685px) {

    h2,
    .card {
        background-color: aqua; <--
        font-size: 45px;
        height: 680px;
        width: 500px;
    }

    img,
    .minion {
        background-color: aqua; <--
        height: auto;
        width: 40%;
    }

    footer {
        background-color: aqua; <--
        height: auto;
        width: 100%;
    }

    p,
    .display {
        background-color: aqua; <--
        text-align: center;
        font-size: 35px;
        width: auto;
        height: auto;
    }

    .mb {
        background-color: aqua; <--
        width: 18%;
        height: auto;
    }
}

View 2
@media screen and (max-width: 2560px) {

    h2,
    .card {
        background-color: cadetblue; <--
        font-size: 45px;
        height: 680px;
        width: 500px;
    }

    img,
    .minion {
        background-color: cadetblue; <--
        height: auto;
        width: 40%;
    }

    footer {
        background-color: cadetblue; <--
        height: auto;
        width: 100%;
    }

    p,
    .display {
        background-color: cadetblue; <--
        text-align: center;
        font-size: 35px;
        width: auto;
        height: auto;
    }

    .mb {
        background-color: cadetblue; <--
        width: 18%;
        height: auto;
    }
}

View 3
@media screen and (max-width: 1440px) {

    h2,
    .card {
        background-color: brown; <--
        font-size: 45px;
        height: 400px;
        width: 400px;
    }

    img,
    .minion {
        background-color: brown; <--
        height: auto;
        width: 40%;
    }

    footer {
        background-color: brown; <--
        height: auto;
        width: 100%;
    }

    p,
    .display {
        background-color: brown; <--
        text-align: center;
        font-size: 35px;
        width: auto;
        height: auto;
    }

    .mb {
        background-color: brown; <--
        width: 18%;
        height: auto;
    }

}

View 4
@media screen and (max-width: 1024px) {

    img,
    .minion {
        background-color: rgb(139, 89, 89); <--
        height: 35%;
        width: 35%;
    }

    h2,
    .card {
        background-color: rgb(139, 89, 89); <--
        font-size: 25px;
        width: 350px;
        height: 300px;
    }

    img,
    .mb {
        background-color: rgb(139, 89, 89); <--
        height: 20%;
        width: 20%;
    }

    footer {
        background-color: rgb(139, 89, 89); <--
        height: 50%;
        width: 100%;
    }
    p,
    .display {
        background-color: rgb(139, 89, 89); <--
        text-align: center;
        font-size: 35px;
        width: auto;
        height: auto;
    }

}

View 5
@media screen and (max-width: 768px) {

    img,
    .minion {
        background-color: rgb(41, 118, 165); <--
        font-size: 25px;
        width: 450px;
        height: 450px;
    }

    h2,
    .card {
        background-color: rgb(41, 118, 165); <--
        font-size: 30px;
        height: 300px;
        width: 800px;
    }

    img,
    .mb {
        background-color: rgb(41, 118, 165); <--
        height:450px;
        width: 300px;
    }

    footer {
        background-color: rgb(41, 118, 165); <--
        margin: 5px;
        width: 100%;
    }
    p,
    .display {
        background-color: rgb(41, 118, 165); <--
        text-align: center;
        font-size: 35px;
        width: auto;
        height: auto;
    }
}

View 6
@media screen and (max-width: 425px) {

    h2,
    .card {
        background-color: rgb(165, 41, 128); <--
        font-size: 25px;
        width: 100%;
        height: 300px;
        align-items: center;
    }

    img,
    .minion {
        background-color: rgb(165, 41, 128); <--
        align-items: center;
        height: 100%;
        width: 100%;
    }

    img,
    .mb {
        background-color: rgb(165, 41, 128); <--
        width: 100%;
    }

    footer {
        background-color: rgb(165, 41, 128); <--
        width: 100%;
    }
    p,
    .display {
        background-color: rgb(165, 41, 128); <--
        text-align: center;
        font-size: 35px;
        width: auto;
        height: auto;
    }

}

