.choices {
    background-color: rgb(233, 233, 233);
    padding: 20px;
    margin-bottom: 0 !important;
    padding-bottom: 10px;
    padding-left: 2%;
}

#inputText,
#responseText {
    padding: 10px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 8px;
    box-shadow: 7px 10px 23px -11px rgba(0,0,0,0.75);
    background-color: rgb(250, 250, 250);
}

#inputText {
    margin-left: 20px;
}

#responseText {
    margin-right: 20px;
}

.textarea {
    resize: none;
    height: 100%;
}

.button {
    border-radius: 7px !important;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    #inputText {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #responseText {
        margin-right: 20px;
        margin-left: 20px;
    }
}


