* {
    border: 10;
    margin: 10px;
    padding: 10px;
}

header {
    color: yellow;
    background-color: rgb(46, 46, 236);
    float: right;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

img{
    height: auto;
    max-width: 28%;
    float:left;
}

#returnLink{
    font-weight: bolder;
}

h2 {
    float: right;
    width: 300px;
    border: 15px solid yellow;
    padding: 20px;
    margin: 10px;
}

footer {
    font-size: 10px;
    width: 20px 20px 20px 20px;
    color: yellow;
    background-color: rgb(46, 46, 236);

}
h2{
    color: yellow;
    background-color: rgb(46, 46, 236);
}
