* {
    text-align: center;
    padding: 5px;
    margin: 10px, 10px, 10px, 10px;

}

nav,
.navbar.is-link {
    font-size: 40px;
    display: flex;
}

h2,
.card {
    background-image: linear-gradient(rgb(255, 247, 0), rgb(0, 179, 255));
    color: rgb(43, 43, 223);
    text-align: center;
    height: 300px;
    font-size: 150px;
    width: 500px;
    border: 15px solid rgb(255, 251, 0);
    float: right;
}

img,
.minion {
    padding: 3px;
    border: 15px, solid rgb(43, 43, 223);
    float: left;
}

p,
.app {
    float: inline-end;
    width: 10px;
    height: 10px;
    border: 15px solid yellow,
}

.minion {
    border: 15px solid rgb(43, 43, 223);
}

footer {
    background-image: linear-gradient(rgb(255, 247, 0), rgb(0, 179, 255));
    width: 800px;
    border: 15px solid yellow;
    display: flex;
}

p,
.display {
    font-size: 20px;
    color: rgb(43, 43, 223);
}

.mb {
    border: 15px solid rgb(43, 43, 223);
    float: right;
    width: 15%;
    height: 15%;

}

#returnLink {
    font-size: 35px;
}

.return {
    background-image: linear-gradient(rgb(255, 247, 0), rgb(0, 179, 255));
}

@media screen and (max-width: 2685px) {

    h2,
    .card {
        font-size: 50px;
        height: 665px;
        width: 600px;
    }

    img,
    .minion {
        height: auto;
        width: 40%;
    }

    footer {
        height: auto;
        width: 100%;
    }

    p,
    .display {
        text-align: center;
        font-size: 35px;
        width: auto;
        height: auto;
    }

    .mb {
        width: 600px;
        height: 650px;
    }

    a,
    #returnLink {
        font-size: 50px;
    }

}

@media screen and (max-width: 2560px) {

    h2,
    .card {
        font-size: 50px;
        height: 650px;
        width: 500px;
    }

    img,
    .minion {
        height: auto;
        width: 40%;
    }

    footer {
        height: auto;
        width: 100%;
    }

    p,
    .display {
        text-align: center;
        font-size: 35px;
        width: auto;
        height: auto;
    }

    p,
    .mb {
        width: 500px;
        height: 640px;
    }

    #returnLink {
        font-size: 50px;
    }
}


@media screen and (max-width: 1440px) {

    h2,
    .card {
        font-size: 45px;
        height: 400px;
        width: 400px;
    }

    img,
    .minion {
        height: auto;
        width: 40%;
    }

    footer {
        height: auto;
        width: 100%;
    }

    p,
    .display {
        text-align: center;
        font-size: 35px;
        width: auto;
        height: auto;
    }

    .mb {
        width: 18%;
        height: auto;
    }

    #returnLink {
        font-size: 35px;
    }

}

@media screen and (max-width: 1024px) {

    img,
    .minion {
        height: 300px;
        width: 400px;
    }

    h2,
    .card {
        font-size: 25px;
        width: 350px;
        height: 300px;
    }

    img,
    .mb {
        height: 300px;
        width: 200px;
    }

    footer {
        height: 50%;
        width: 100%;
    }

    p,
    .display {
        font-size: 28px;
        width: auto;
        height: auto;
    }

    #returnLink {
        font-size: 35px;
    }

}

@media screen and (max-width: 768px) {

    img,
    .minion {
        font-size: 25px;
        width: 450px;
        height: 450px;
    }

    h2,
    .card {
        font-size: 30px;
        height: 300px;
        width: 800px;
    }

    img,
    .mb {
        height: 450px;
        width: 300px;
    }

    footer {
        margin: 5px;
        width: 100%;
    }

    p,
    .display {
        text-align: center;
        font-size: 35px;
        width: auto;
        height: auto;
    }

    #returnLink {
        font-size: 30px;
    }
}

@media screen and (max-width: 425px) {

    h2,
    .card {
        font-size: 25px;
        width: 100%;
        height: 300px;
        align-items: center;
    }

    img,
    .minion {
        align-items: center;
        height: 100%;
        width: 100%;
    }

    img,
    .mb {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    p,
    .display {
        text-align: center;
        font-size: 30px;
        width: auto;
        height: auto;
    }

    #returnLink {
        font-size: 20px;
    }

}