nav,.navbar.is-link {
    font-size: 40px;

}

nav, p{
    text-align: center;
}

h2 {
    color: rgb(43, 43, 223);
    text-align: center;
    height: 300px;
    font-size: 25px;
    width: 500px;
    border: 15px solid yellow;
    float: right
}

footer {
    width: 900px;
    border: 15px solid yellow;
}

.mb {
    float: right;
    max-width: 25%;
    height: 25%;
}

@media screen and (max-width: 992px) {
    .card {
        width: 50%;
    }

    main {
        background: rgb(85, 26, 26)
    }

    h2 {

        background: rgb(85, 26, 26)
    }

    img {
        width: 50%; /* leave width here - responsive*/
        background: rgb(85, 26, 26)
    }

    .mb {
        width: 100%;
        background: rgb(85, 26, 26)
    }
    .footer{ /* leave this here - responsive*/
        width: 100%;
        background: rgb(85, 26, 26)
    }
}